root = true

[*.cs]

indent_size = 4
indent_style = space
tab_width = 4

end_of_line = crlf
insert_final_newline = true

[**/Patches/**/*.cs]
dotnet_diagnostic.SA1313.severity = none

[**/Features/*/*.cs]
dotnet_diagnostic.SA1623.severity = none

[{MyPluginInfo.cs,IgnoresAccessChecksToAttribute.cs}]
generated_code = true
